apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml

namespace: solucao-laser

images:
- name: williambr2022/solucao-laser-front
  newName: williambr2022/solucao-laser-front
  newTag: 8cff613648459683a2f87e03ef7e6975befd6dbf
